/* style related */
body {
    font-family: 'Open Sans', sans-serif;

}
.main-but {
    background-color: rgb(245, 127, 146);
    border-radius: 5px;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding: 15px 35px;
    
}
/* header related styles */

.header {
    background-color: #f7edf3;
    justify-content: space-between;
}

.banner {
    padding: 30px 30px 30px 50px;
    display: flex;
    align-items: center;
}

.image {
    width: 400px;
    height: 400px;
    flex-shrink: 0;
}